body {
    background-color: wheat;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header-button {
    display: block;
    padding: 25px;
    border-radius: 50px;
    background-color: rgb(15, 5, 59);
    color: #f5ed80;
    font-size: 24px;
    height: 80px;
    font-weight: bold;
    margin: 90px auto 70px; 
    width: 550px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;

    align-items: center;
    margin: 0 auto;
}

.btn-1 {
    background-color: #180641;
    color: rgb(239, 209, 102);
    text-decoration: none;
    border: none;
    padding: 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 18px;
    width: 150px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-1 a {
    color: rgb(238, 198, 105);
    text-decoration: none;
    font-weight: bold;
}

.vl {
    border-left: 2px solid #11043f;
    height: 120px;
    margin: 0 20px;
}
