body {
    background-color: wheat;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    margin-top: 0;
    color: #ffd574;
    font-weight: bold;
}

.box {
    background: linear-gradient(to right, #080048b2, #05002b);
    box-shadow: 0 4px 6px rgb(5, 0, 29);
    padding: 20px;
    border-radius: 10px;
    color: #ffd574;
    margin: 50px auto;
    max-width: 400px;
    text-align: center;
}

.form-group {
    text-align: left;
}

.btn-block {
    display: block;
    width: 100%;
    font-weight: bold;
    color: #05002b;
    height: 40px;
    border-radius: 30px;
    background-color: rgba(253, 241, 152, 0.993);
}

