body {
    background-color: wheat;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.register-heading {
    display: block;
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(15, 5, 59);
    color: #f5ed80;
    font-size: 24px;
    height: 65px;
    font-weight: bold;
    margin: 30px auto;
    width: 550px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-custom {
    background-color: rgb(15, 5, 59);
    color: #f5ed80;
    border: none;
    padding: 10px;
    margin: 20px auto;
    width: 250px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: block;
    font-size: 18px;
}

.form-container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    margin: 0 auto;
    max-width: 800px;
}


.input-short {
    max-width: 100%;
}

.form-group .col-md-6 {
    margin-bottom: 20px;
}
